$icons: (
	sprite: (width: 330px, height: 275px, pngPath: '../../../../assets/images/sprite-liner-default.png', svgPath: '../../../../assets/images/sprite-liner-default.svg'),
 	air-condition: (width: 45px, height: 45px, backgroundX: -55px, backgroundY: 0px),
 	bathroom: (width: 45px, height: 45px, backgroundX: -110px, backgroundY: -165px),
 	big-bed: (width: 45px, height: 45px, backgroundX: 0px, backgroundY: -55px),
 	book: (width: 45px, height: 45px, backgroundX: -55px, backgroundY: -55px),
 	breakfast: (width: 45px, height: 45px, backgroundX: -110px, backgroundY: 0px),
 	classroom: (width: 45px, height: 45px, backgroundX: -110px, backgroundY: -55px),
 	close-to: (width: 45px, height: 45px, backgroundX: 0px, backgroundY: -110px),
 	coffee: (width: 45px, height: 45px, backgroundX: -55px, backgroundY: -110px),
 	computer-room: (width: 45px, height: 45px, backgroundX: -110px, backgroundY: -110px),
 	dinner: (width: 45px, height: 45px, backgroundX: -165px, backgroundY: 0px),
 	hammock: (width: 45px, height: 45px, backgroundX: -165px, backgroundY: -55px),
 	heating: (width: 45px, height: 45px, backgroundX: -165px, backgroundY: -110px),
 	kitchen: (width: 45px, height: 45px, backgroundX: 0px, backgroundY: -165px),
 	laptop: (width: 45px, height: 45px, backgroundX: -55px, backgroundY: -165px),
 	lounger: (width: 45px, height: 45px, backgroundX: 0px, backgroundY: 0px),
 	lunch: (width: 45px, height: 45px, backgroundX: -165px, backgroundY: -165px),
 	movie: (width: 45px, height: 45px, backgroundX: -220px, backgroundY: 0px),
 	people: (width: 45px, height: 45px, backgroundX: -220px, backgroundY: -55px),
 	person: (width: 23.9px, height: 25.799999999999997px, backgroundX: -275px, backgroundY: -110px),
 	pool: (width: 45px, height: 45px, backgroundX: -220px, backgroundY: -165px),
 	snack: (width: 45px, height: 45px, backgroundX: 0px, backgroundY: -220px),
 	tea: (width: 45px, height: 45px, backgroundX: -55px, backgroundY: -220px),
 	tv: (width: 45px, height: 45px, backgroundX: -110px, backgroundY: -220px),
 	tv-cable: (width: 45px, height: 45px, backgroundX: -165px, backgroundY: -220px),
 	video-projector: (width: 45px, height: 45px, backgroundX: -220px, backgroundY: -220px),
 	washer: (width: 45px, height: 45px, backgroundX: -275px, backgroundY: 0px),
 	wifi: (width: 45px, height: 45px, backgroundX: -220px, backgroundY: -110px),
 	work: (width: 45px, height: 45px, backgroundX: -275px, backgroundY: -55px),
);
