$icons: (
	sprite: (width: 228px, height: 190px, pngPath: '../../../../assets/images/sprite-liner-small.png', svgPath: '../../../../assets/images/sprite-liner-small.svg'),
 	air-condition: (width: 32px, height: 32px, backgroundX: -38px, backgroundY: 0px),
 	bathroom: (width: 32px, height: 32px, backgroundX: -114px, backgroundY: -114px),
 	big-bed: (width: 32px, height: 32px, backgroundX: 0px, backgroundY: -38px),
 	book: (width: 32px, height: 32px, backgroundX: -38px, backgroundY: -38px),
 	breakfast: (width: 32px, height: 32px, backgroundX: -76px, backgroundY: 0px),
 	classroom: (width: 32px, height: 32px, backgroundX: -76px, backgroundY: -38px),
 	close-to: (width: 32px, height: 32px, backgroundX: 0px, backgroundY: -76px),
 	coffee: (width: 32px, height: 32px, backgroundX: -38px, backgroundY: -76px),
 	computer-room: (width: 32px, height: 32px, backgroundX: -76px, backgroundY: -76px),
 	dinner: (width: 32px, height: 32px, backgroundX: -114px, backgroundY: 0px),
 	hammock: (width: 32px, height: 32px, backgroundX: -114px, backgroundY: -38px),
 	heating: (width: 32px, height: 32px, backgroundX: -114px, backgroundY: -76px),
 	kitchen: (width: 32px, height: 32px, backgroundX: 0px, backgroundY: -114px),
 	laptop: (width: 32px, height: 32px, backgroundX: -38px, backgroundY: -114px),
 	lounger: (width: 32px, height: 32px, backgroundX: -76px, backgroundY: -114px),
 	lunch: (width: 32px, height: 32px, backgroundX: 0px, backgroundY: 0px),
 	movie: (width: 32px, height: 32px, backgroundX: -152px, backgroundY: 0px),
 	people: (width: 32px, height: 32px, backgroundX: -152px, backgroundY: -38px),
 	person: (width: 32px, height: 32px, backgroundX: -152px, backgroundY: -76px),
 	pool: (width: 32px, height: 32px, backgroundX: -152px, backgroundY: -114px),
 	school: (width: 32px, height: 32px, backgroundX: 0px, backgroundY: -152px),
 	snack: (width: 32px, height: 32px, backgroundX: -38px, backgroundY: -152px),
 	tea: (width: 32px, height: 32px, backgroundX: -76px, backgroundY: -152px),
 	teacher: (width: 32px, height: 32px, backgroundX: -114px, backgroundY: -152px),
 	tv: (width: 32px, height: 32px, backgroundX: -152px, backgroundY: -152px),
 	tv-cable: (width: 32px, height: 32px, backgroundX: -190px, backgroundY: 0px),
 	video-projector: (width: 32px, height: 32px, backgroundX: -190px, backgroundY: -38px),
 	washer: (width: 32px, height: 32px, backgroundX: -190px, backgroundY: -76px),
 	wifi: (width: 32px, height: 32px, backgroundX: -190px, backgroundY: -114px),
 	work: (width: 32px, height: 32px, backgroundX: -190px, backgroundY: -152px),
);
