/**********************************************************/
/*                  VARIABLES FOR MAIN APP                */
/**********************************************************/
//
//  Table of Contents:
//
//   1. Global
//   2. Agenda
//   3. Badge
//   4. Box
//   5. Buttons
//   6. DateTime Picker
//   7. Dropdown
//   8. Flags
//   9. Form
//   10. Header
//   11. Header - Blocks (Tabs)
//   12. Header - Search Bar
//   13. Header - SubNav
//   14. Icons
//   15. Images
//   16. Input Text
//   17. Labels
//   18. Left Nav (small devices)
//   19. Links
//   20. List
//   21. Logo
//   22. Paragraph
//   23. Progress Bar
//   24. Select List
//   25. Stars
//   26. Strong
//   27. Switchs

//**********************************************************


// 1. Global
// ---------
$main-palette: (
  primary: #00B592,
  secondary: #018a6f,
  success: #3adb76,
  warning: #e8ce47,
  alert: #ff5a5f,
  alert-secondary: #d45054,
);

$cloud: #f5f5f5;
$light-gray: #dce0e0;
$medium-gray: #bcc1c1;
$dark-gray: #8a8a8a;
$black: #555;
$white: #fefefe;

$global-font-sizes:(
    small: 12px,
    default: 14px,
    medium: 16px,
    large: 20px,
);
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$global-border-dashed: 1px dashed $light-gray;
$global-font-path: "../../../../assets/fonts";
$global-font-family: "MainAppFont";
$global-image-path: "../../../../assets/images";
$global-logo-file: "waysily-logo.png";
//$global-logo-file: "waysily-logo.svg";
$global-logo-secondary-file: "waysily-logo-secondary.png";
//$global-logo-secondary-file: "waysily-logo.svg";
$global-logo-primary-short-file: "waysily-logo-primary-short.svg";
$global-logo-secondary-short-file: "waysily-logo-secondary-short.svg";
$global-photo-default-file: "waysily-photo-default.svg";
$global-school-photo-default-file: "waysily-school-photo-default.svg";
$global-badge-file: "waysily-badge-teacher.svg";
$global-flags-file: "waysily-countries-flags.svg";
$global-line-icons-file: "icons.svg";
$global-payment-methods-icons-file: "cards.svg";

$ieSprite: '.lt-ie9' !default;
$sprite: map-get($icons, sprite) !default;
$baseFontSize: 16px !default;

$global-sprite-icons-file: "sprite-liner.svg";
$global-sprite-path: $global-image-path + $global-sprite-icons-file;

$body-background: #fafafa;

$body-font-color: $black;
//$body-font-family: $global-font-family;
//TEST
$body-font-family: 'Lato', 'Helvetica Neue', Helvetica, 'Roboto', sans-serif;

$body-antialiased: true;

$print-transparent-backgrounds: true;


// 2. Agenda
// ----------
$agenda-toolbar-center-font-color: #999;

$agenda-view-header-border: 0 hidden transparent;
$agenda-view-header-border-color: #eee;

$agenda-view-header-day-border: 0 hidden transparent;

$agenda-view-header-day-span-font-color: #ddd;
$agenda-view-header-day-span-font-size: 12px;
$agenda-view-header-day-span-font-size-large: 15px;
$agenda-view-header-day-span-border: 0;
$agenda-view-header-day-span-font-weight: normal;

$agenda-view-body-border: #eee;
$agenda-view-body-today-background: rgba(0, 181, 146, 0.47);

$agenda-view-content-dayTop-number-font-color: $dark-gray;

$agenda-view-content-today-number-font-color: $white;

$agenda-view-content-event-padding: 4px;
$agenda-view-content-event-background: map-get($main-palette, primary);
$agenda-view-content-event-border: 0 hidden transparent;

$agenda-view-body-timeContainer-event-font-size: 15px;

// 2. Box
// ----------
$box-background: $white;
$box-border: 1px solid $light-gray;
$box-border-primary: 1px solid map-get($main-palette, primary);
$box-border-transparent: 0 hidden transparent;

$box-title-border: $global-border-dashed;
$box-title-padding: 20px;

$box-content-padding: 20px;

$box-footer-padding: 20px;
$box-footer-border: $global-border-dashed;
$box-footer-row-margin: 0!important;

$boxVerified-item-margin: 5px;
$boxVerified-item-padding: 10px;
$boxVerified-item-text-font-size: 17px;
$boxVerified-item-text-margin: 10px;

$boxBasicInfo-row-margin: 20px;

$boxBasicInfo-lastBlock-margin: 0!important;

$boxBasicInfo-age-border: $global-border-dashed;

$boxBasicInfo-name-margin: 10px;

$boxBasicInfo-from-padding: 5px;

$boxBasicInfo-live-padding: 5px;

$boxBasicInfo-jobDegree-icon-margin: 5px;
$boxBasicInfo-jobDegree-label-lineHeight: 1.2;

$boxBadgeSection-container-margin: 25px;

$boxBadgeSection-paragraph-margin: 12px;

$boxLanguage-margin: 20px;

$boxLanguage-content-label-margin: 10px;

$boxReviews-margin: 20px;

$boxReviews-content-block-margin: 20px;

$boxMenu-item-border: 1px dashed $light-gray;
$boxMenu-item-padding: 15px 25px;
$boxMenu-item-margin: 0;
$boxMenu-item-font-size: 18px;

$boxMenu-item-border-active: 7px solid map-get($main-palette, primary);
$boxMenu-item-background-hover: $cloud;
$boxMenu-item-border-hover: 7px solid $dark-gray;

$boxMenu-item-background-green-hover: map-get($main-palette, primary);
$boxMenu-item-border-green-hover: 7px solid map-get($main-palette, secondary);
$boxMenu-item-font-color-green-hover: $white;

$boxMenu-item-withIcon-padding: 15px 25px;
$boxMenu-item-withIcon-margin: 0;


// 2. Badge
// ----------
$badge-path: $global-image-path + '/' + $global-badge-file;


// 2. Buttons
// ----------
$button-margin: 0 0 $global-margin 0;
$button-font-sizes: (
  small: map-get($global-font-sizes, small),
  default: map-get($global-font-sizes, default),
  medium: map-get($global-font-sizes, medium),
  large: map-get($global-font-sizes, large),
);
$button-font-color: $white;
$button-radius: 4px;
$button-lineheight: 1.43;
$button-paddings: (
  small: 4px 12px,
  default: 7px 21px,
  medium: 9px 27px,
  large: 12px 27px,
);
$button-opacity-disabled: 0.25;

$button-primary-border-color: map-get($main-palette, secondary);
$button-primary-background: map-get($main-palette, primary);
$button-primary-background-hover: #00987b;

$button-secondary-border: 2px solid $button-primary-background;
$button-secondary-background: map-get($main-palette, secondary);
$button-secondary-background-hover: scale-color($button-secondary-background, $lightness: -15%);
$button-secondary-color: map-get($main-palette, primary);
$button-secondary-border-color: map-get($main-palette, secondary);

$button-tertiary-border: 2px solid $white;
$button-tertiary-color: $white;
$button-secondary-color-hover: map-get($main-palette, primary);
$button-tertiary-border-color: $light-gray;

$button-alert-border-color: map-get($main-palette, alert-secondary);
$button-alert-background: map-get($main-palette, alert);
$button-alert-background-hover: map-get($main-palette, alert-secondary);

$button-block-width: 100%;


// 2. DateTime Picker
// ------------------
$datetimepicker-head-button-font-color: map-get($main-palette, primary);
$datetimepicker-head-button-font-size: 20px;

$datetimepicker-head-button-font-color-hover: map-get($main-palette, secondary);
$datetimepicker-head-button-background-hover: transparent;

$datetimepicker-span-radius: 0;

$datetimepicker-titleDays-font-color: map-get($main-palette, primary);

$datetimepicker-switch-font-color: map-get($main-palette, primary);

$datetimepicker-currentDay-background: rgba(0,181,146,0.47);
$datetimepicker-currentDay-font-color: $white;

$datetimepicker-activeDay-background: map-get($main-palette, primary);
$datetimepicker-activeDay-font-color: $white;
$datetimepicker-activeDay-border: 0 hidden transparent;


// 3. Dropdown
// -----------
$dropdown-radius: 1px;
$dropdown-boxShadow: 0 1px 1px rgba(0,0,0,.25),0 0 0 rgba(0,0,0,.35);
$dropdown-border: 0 hidden transparent;
$dropdown-minWidth: 200px;
$dropdown-padding: 0;

$dropdown-divider-margin: 0;

$dropdown-option-width: 100%;
$dropdown-option-lineHeight: 1.4;
$dropdown-option-font-size: 16px;
$dropdown-option-font-weight: 300;

$dropdown-option-button-padding: 12px 25px;
$dropdown-option-button-width: 100%;
$dropdown-option-button-lineHeight: 1.4;
$dropdown-option-button-font-size: 16px;
$dropdown-option-button-font-color: $dark-gray;
$dropdown-option-button-font-weight: 100;

$dropdown-option-button-font-color-hover: $black;
$dropdown-option-button-font-weight-hover: 400;
$dropdown-option-button-margin-left-hover: 5px;

$dropdown-lastOption-button-font-size: 16px;

// 3. Flags
// ---------
$flags-path: $global-image-path + '/' + $global-flags-file;


// 3. Form
// ---------
$form-basic-p-margin: 6px;

$form-horizontal-label-paddings: (
    withoutModifier: 8px,
    small: 6px,
    default: 10px,
    large: 16px,
);
$form-horizontal-label-margin: 0;


// 3. Header
// ---------
$header-height: 61px;
$header-background: $white;
$header-border: 1px solid $light-gray;
$header-top: 0;
$header-left: 0;
$header-width: 100%;
$header-index: 200;

$header-transparent-background: transparent;
$header-transparent-border: 0 hidden transparent;

$header-transparent-block-border: 0 hidden transparent!important;
$header-transparent-block-right-padding: 20px;


// 4. Header - Blocks (Tabs)
// ---------
$header-block-border-solid: 1px solid $light-gray;
$header-block-border-dashed: $global-border-dashed;
$header-block-height: 60px;
$header-block-lineheight: 60px;

$header-block-logo-background-hover: transparent;
$header-block-background-hover: $cloud;

$header-block-btn-padding: 0 19px;

$header-block-btn-logo-top: 11px;

$header-block-btn-icon-top: 7px;
$header-block-btn-icon-size: 24px;
$header-block-btn-icon-background: transparent;
$header-block-btn-icon-font-color: $medium-gray;

$header-block-btn-count-top: -10px!important;

$header-block-btn-photo-top: 10px;


// 5. Header - Search Bar
// ----------
$header-search-wrapper-width: 10000px;
$header-search-wrapper-paddingtop: 0;

$header-search-form-margin: 0;
$header-search-form-index: 11;

$header-search-bar-icon-top: 19px;
$header-search-bar-icon-left: 16px;
$header-search-bar-icon-index: 1;

$header-search-input-width: 100%;
$header-search-input-padding: 0 0 0 48px;
$header-search-input-border: 0;
$header-search-input-outline: 0;
$header-search-input-font-size: 17px;


// 5. Header - SubNav
// ----------
$header-subnav-border: 1px solid #ddd;
$header-subnav-background: #eee;

$header-subnav-list-margin: 0;
$header-subnav-list-padding: 0;

$header-subnav-list-option-padding: 10px 5px;

$header-subnav-list-option-tab-font-color: $black;
$header-subnav-list-option-tab-font-padding: 10px;

$header-subnav-list-option-tab-border-hover: 3px solid map-get($main-palette, primary);

$header-subnav-list-option-tab-border-active: 3px solid $dark-gray;

// 5. icons
// ----------
$line-icons-path: $global-image-path + '/' + $global-line-icons-file;
$payment-methods-icons-path: $global-image-path + '/' + $global-payment-methods-icons-file;

// 5. Images
// ----------
$image-photo-default-path: $global-image-path + '/' + $global-photo-default-file;
$image-rectangle-photo-default-path: $global-image-path + '/' + $global-school-photo-default-file;
$image-photo-sizes: (
    tiny: 32px,
    small: 70px,
    default: 100px,
    medium: 170px,
    large: 240px,
);
$image-rectangle-photo-width-sizes: (
    tiny: 120px,
    small: 140px,
    default: 175px,
    medium: 224px,
    large: 260px,
);
$image-rectangle-photo-height-sizes: (
    tiny: 140px,
    small: 161px,
    default: 202px,
    medium: 258px,
    large: 277px,
);
$image-photo-background: $dark-gray;

$image-dashed-alternate: $global-image-path + '/dash-alternate.svg';

$image-studentLanding-step-map: $global-image-path + '/step-map.png';
$image-studentLanding-step-profile: $global-image-path + '/step-profile.png';
$image-studentLanding-step-points: $global-image-path + '/step-points.png';
$image-studentLanding-step-request: $global-image-path + '/step-request.png';
$image-studentLanding-step-meeting: $global-image-path + '/step-meeting.png';




// 7. Input Text and Select List
// ----------
$input-border: 1px solid $medium-gray;
$input-radius: 0;
$input-background: $white;
$input-font-color: $black;
$input-width: 100%;
$input-paddings: (
  small: 6px 8px,
  default: 10px,
  large: 13px,
);
$input-font-size-default: 16px;
$input-font-size-large: 18px;

$input-primary-border-focus: map-get($main-palette, primary);
$input-outline-focus: 0;

$input-invalid-background: #fff2ef;
$input-invalid-border: #ffd1c4;

$input-group-addon-primary-background: map-get($main-palette, primary);
$input-group-addon-primary-border: 1px solid map-get($main-palette, primary);
$input-group-addon-primary-font-color: $white;

$input-group-addon-secondary-background: $white;
$input-group-addon-secondary-border: 1px solid map-get($main-palette, primary);
$input-group-addon-secondary-font-color: map-get($main-palette, primary);

$input-group-addon-alert-background: map-get($main-palette, alert);
$input-group-addon-alert-border: 1px solid map-get($main-palette, alert);
$input-group-addon-alert-font-color: $white;

$input-group-addon-primary-alert-background: $white;
$input-group-addon-primary-alert-border: 1px solid map-get($main-palette, alert);
$input-group-addon-primary-alert-font-color: map-get($main-palette, alert);

// 6. Labels
// ---------
$label-radius: 4px;
$label-font-sizes: (
  small: map-get($global-font-sizes, small),
  default: map-get($global-font-sizes, default),
  medium: map-get($global-font-sizes, medium),
  large: map-get($global-font-sizes, large),
);
$label-font-sizes-simple: (
  small: map-get($global-font-sizes, small),
  default: map-get($global-font-sizes, default),
  medium: map-get($global-font-sizes, medium),
  large: map-get($global-font-sizes, large),
);
$label-lineheight: 1.43;
$label-box-paddings: (
  small: 4px 12px,
  default: 7px 21px,
  medium: 9px 25px,
  large: 9px 27px,
);

$label-box-withIcon-paddings: (
    small: 5px 7px 4px 12px,
    default: 7px 9px 7px 21px,
    medium: 9px 10px 9px 24px,
    large: 9px 12px 9px 27px,
);
$label-box-withIcon-icon-margins: (
    small: 10px,
    default: 12px,
    medium: 15px,
    large: 14px,
);
$label-box-withIcon-icon-font-size: (
    small: 15px,
    default: 18px,
    medium: 19px,
    large: 24px,
);

$label-box-width-block: 99%;

$label-simple-color-gray: $dark-gray;
$label-simple-color-primary: map-get($main-palette, primary);
$label-simple-color-alert: map-get($main-palette, alert);
$label-simple-color-disabled: $medium-gray;

$label-box-primary-font-color: $white;
$label-box-primary-background: map-get($main-palette, primary);

$label-box-secondary-font-color: map-get($main-palette, primary);
$label-box-secondary-border: 2px solid map-get($main-palette, primary);

$label-box-secondary-hover-font-color: $white;
$label-box-secondary-hover-background: map-get($main-palette, secondary);
$label-box-secondary-hover-border: 2px solid map-get($main-palette, secondary);

$label-box-primary-altern-font-color: $white;
$label-box-primary-altern-background: map-get($main-palette, secondary);

$label-box-alert-font-color: $white;
$label-box-alert-background: map-get($main-palette, alert);

$label-box-alert-secondary-font-color: map-get($main-palette, alert);
$label-box-alert-secondary-border: 2px solid map-get($main-palette, alert);

$label-box-alert-secondary-hover-font-color: $white;
$label-box-alert-secondary-hover-background: map-get($main-palette, alert);
$label-box-alert-secondary-hover-border: 2px solid map-get($main-palette, alert);

$label-box-gray-font-color: $black;
$label-box-gray-background: $light-gray;
$label-box-gray-secondary-border: 2px solid $light-gray;

$label-box-white-primary-font-color: map-get($main-palette, primary);
$label-box-white-primary-background: $white;

$label-box-white-alert-font-color: map-get($main-palette, alert);
$label-box-white-alert-background: $white;

$labelsBox-dashed-border: 2px dashed $light-gray;
$labelsBox-dashed-invalid-border: 2px dashed #ffd1c4;
$labelsBox-dashed-height: 100px;
$labelsBox-dashed-padding: 5px;

// 8. Left Nav (small devices)
// ---------------------------

$left-nav-top: 0;
$left-nav-bottom: 0;
$left-nav-left: 0;
$left-nav-right: 0;
$left-nav-index: 2001;

$left-nav-content-left: -285px;
$left-nav-content-left-active: 0;
$left-nav-content-left-transition: left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
$left-nav-content-width: 285px;
$left-nav-content-height: 100%;
$left-nav-content-border: 0;
$left-nav-content-background: $white;

$left-nav-content-header-height: 48px;

$left-nav-content-header-profile-font-size: 16px;
$left-nav-content-header-profile-lineHeight: 28px;
$left-nav-content-header-profile-padding: 10px;

$left-nav-content-header-profile-userItem-padding: 15px;
$left-nav-content-header-profile-userItem-font-color: map-get($main-palette, primary);

$left-nav-content-header-profile-photo-top: 8px;

$left-nav-content-header-profile-label-width: 75%;
$left-nav-content-header-profile-label-margin: 10px;

$left-nav-menu-width: 100%;
$left-nav-menu-height: 100%;
$left-nav-menu-font-size: 20px;
$left-nav-menu-padding: 25px;
$left-nav-menu-border: $white;

$left-nav-menu-group-lineHeight: 46px;
$left-nav-menu-group-first-border: $global-border-dashed;
$left-nav-menu-group-first-padding: 10px;

$mask-height: 100%;
$mask-width: 100%;
$mask-background: $black;
$mask-opacity: 0;
$mask-opacity-active: 0.7;
$mask-opacity-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);

// 6. Links
// ---------
$link-font-color: $black;
$link-border: 1px solid transparent;

$link-box-radius-hover: 3px;
$link-box-primary-background-hover: map-get($main-palette, primary);
$link-box-primary-border-hover: map-get($main-palette, secondary);
$link-box-alert-background-hover: map-get($main-palette, alert);
$link-box-alert-border-hover: map-get($main-palette, alert-secondary);
$link-box-font-color-hover: $white;

$link-simple-font-color: $black;
$link-simple-font-sizes: (
  small: 15px,
  default: 20px,
  large: 30px,
);

// 13. Lists
// ----------
$list-message-info-font-weight-unread: bold!important;
$list-message-info-font-color-unread: $black!important;

$list-message-status-background-unread: map-get($main-palette, alert);
$list-message-status-width-unread: 15px;
$list-message-status-height-unread: 15px;


// 7. Logo
// ----------
$logo-path: $global-image-path + '/' + $global-logo-file;
$logo-path-secondary: $global-image-path + '/' + $global-logo-secondary-file;
$logo-path-primary-short: $global-image-path + '/' + $global-logo-primary-short-file;
$logo-path-secondary-short: $global-image-path + '/' + $global-logo-secondary-short-file;
$logo-width: 145px;
$logo-height: 32px;
$logo-short-width: 32px;
$logo-short-height: 30px;
$logo-primary-short-width: 61px;
$logo-primary-short-height: 61px;


// 9. Paragraph
// -------------

$paragraph-font-size: 14px;
$paragraph-lineHeight: 1.5;
$paragraph-lines-to-show: 3;
//reference: http://revelry.co/multi-line-ellipsis-using-pure-css/

$paragraph-font-color: $dark-gray;
$paragraph-bold-font-color: $black;

$paragraph-alert-font-color: map-get($main-palette, alert);
$paragraph-primary-font-color: map-get($main-palette, primary);
$paragraph-info-font-color: map-get($main-palette, secondary);
$paragraph-white-font-color: $white;


// 10. Progress Bar
// --------------

$progressBar-background: #7CD175;
$progressBar-line: 3px dashed $medium-gray;
$progressBar-circle-background: $medium-gray;


// 11. Select List
// ---------
$select-container-font-size-small: 13px;

$select-padding: 2em;
$select-padding-small: 1.6em;
$select-background: white\0 !important;

$select-tertiary-background: 0 0;
$select-tertiary-border: 2px solid #FFF;
$select-tertiary-font-color: #FFF;

$select-borderRound-radius: 4px;

$select-tertiary-icon-color: $white;

$select-icon-font-size-small: 10px;
$select-icon-color: $medium-gray;
$select-icon-width: 2em;
$select-icon-padding: 0.7em;
$select-icon-lineHeight: 1;
$select-icon-transform: scale(0.84, 0.42);

$select-icon-top: (
    small: 2px,
    default: 1px,
    large: 5px,
);
$select-icon-bottom: (
    small: 0,
    default: 0,
    large: 0,
);
$select-icon-right: (
    small: 0,
    default: 1px,
    large: 3px,
);

$select-icon-top: (
    small: 2px,
    default: 1px,
    large: 5px,
);

// 11. Stars
// ---------
//$star-font-color: #ffd800; //Original
$star-font-color: #ffb400; //Airbnb
$star-sizes: (
  tiny: 18px,
  small: 24px,
  default: 30px,
  large: 36px,
);
$star-font-sizes: (
  tiny: 18px,
  small: 24px,
  default: 30px,
  large: 36px,
);

// 12. Strong
// ----------
$strong-font-sizes: (
  small: map-get($global-font-sizes, small),
  default: map-get($global-font-sizes, default),
  medium: map-get($global-font-sizes, medium),
  large: map-get($global-font-sizes, large),
);

// 13. Switch
// ---------
$switch-height: 40px;
$switch-border: 1px solid rgba(0,0,0,0.15);
$switch-radius: 4px;

$switch-button-opacity-disabled: 1;
$switch-button-background-disabled: map-get($main-palette, primary);
$switch-button-font-color-disabled: $white;
$switch-button-boxShadow-disabled: 0 0 0 1px map-get($main-palette, primary);
$switch-button-border-disabled: 1px solid map-get($main-palette, secondary);

$switch-button-font-color-disabled-hover: $white;

$switch-button-border: 0;
$switch-button-height: 100%;
$switch-button-font-color: $dark-gray;
$switch-button-padding: 0 16px;

$switch-button-font-color-hover: $black;

$switch-button-firstChild-radius: 4px 0 0 4px;

$switch-button-secondChild-radius: 0;
$switch-button-secondChild-margin: -4px;

$switch-button-lastChild-radius: 0 4px 4px 0;
$switch-button-lastChild-border: 0;
$switch-button-lastChild-margin: -3px;

// reference: https://github.com/zurb/foundation-sites/blob/develop/scss/settings/_settings.scss
