/**********************************************************/
/*                     DATETIME PICKER                    */
/**********************************************************/

.ma-datetimepicker {

    /* VIEW (DAY, HOUR) */
    .table {

        /* TABLE HEAD (BUTTONS LEFT, RIGHT, MONTH) */
        thead {
            .left, .right  {
                color: $datetimepicker-head-button-font-color;
                font-size: $datetimepicker-head-button-font-size;
                &:hover {
                    color: $datetimepicker-head-button-font-color-hover;
                    background-color: $datetimepicker-head-button-background-hover;
                }
            }
        }

        td, span {
            border-radius: $datetimepicker-span-radius;
        }

        /* DAYS TITLES ON EACH COLUMN */
        th.dow {
            color: $datetimepicker-titleDays-font-color;
            font-weight: normal;
            text-shadow: none;
        }

        /*TITLE BLOCK*/
        .switch {
            color: $datetimepicker-switch-font-color;
            font-size: $datetimepicker-head-button-font-size;
        }

        /*CURRENT DAY (TODAY)*/
        .current {
            background-color: $datetimepicker-currentDay-background;
            color: $datetimepicker-currentDay-font-color;
        }

        .active, .active:hover {
            background-color: map-get($main-palette, primary);
            color: $datetimepicker-activeDay-font-color;
            border: $datetimepicker-activeDay-border;
            background-image: none;
            text-shadow: none;
        }

    }
}
