/**********************************************************/
/*                        DROPDOWN                        */
/**********************************************************/

.ma-dropdown {
    top: inherit;
    border-radius: $dropdown-radius;
    box-shadow: $dropdown-boxShadow;
    border: $dropdown-border;
    min-width: $dropdown-minWidth;
    padding: $dropdown-padding;

    .divider {
        background-color: transparent;
        border: $global-border-dashed;
        margin: $dropdown-divider-margin;
    }

    li {
        text-align: left;
        width: $dropdown-option-width;
        line-height: $dropdown-option-lineHeight;
        white-space: nowrap;
        box-sizing: border-box;
        font-size: $dropdown-option-font-size;
        font-weight: $dropdown-option-font-weight;

        &.last-option {
            border-top: $global-border-dashed;
            a  {
                font-size: $dropdown-lastOption-button-font-size;
                font-weight: 500;
            }
        }

        & > a {
            padding: $dropdown-option-button-padding;
            text-align: left;
            width: $dropdown-option-button-width;
            line-height: $dropdown-option-button-lineHeight;
            white-space: nowrap;
            font-size: $dropdown-option-button-font-size;
            color: $dropdown-option-button-font-color;
            font-weight: $dropdown-option-button-font-weight;
            &:hover {
                color: $dropdown-option-button-font-color-hover;
                text-decoration: none;
                background-color: transparent;
                font-weight: $dropdown-option-button-font-weight-hover;
                margin-left: $dropdown-option-button-margin-left-hover;
            }
        }
    }
}

/* Show dropdown menu up */
.dropup {

    .ma-dropdown {
        top: auto;
        bottom: 100%;
        margin-bottom: 15px;
    }

}
