/**********************************************************/
/*                         FLAGS                          */
/**********************************************************/

.ma-flag {
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    vertical-align: middle;
    background-image: url($flags-path);

    //BORDER
    &--white-border {
        border: 2px soild $white;
    }

    //FLAGS SIZES
    &--small {
        width: 25px;
        height: 25px;
        background-size: 69px;

        &--flag-es {
            background-position: -4px -4px;
        }

        &--flag-en {
            background-position: -35px -4px;
        }
    }

    &--default {
        width: 30px;
        height: 30px;
        background-size: 82px;

        &--flag-es {
            background-position: -5px -4px;
        }

        &--flag-en {
            background-position: -40px -4px;
        }
    }

    &--medium {
        width: 35px;
        height: 35px;
        background-size: 90px;

        &--flag-es {
            background-position: -4px -4px;
        }

        &--flag-en {
            background-position: -44px -4px;
        }
    }

    &--large {
        width: 45px;
        height: 45px;
        background-size: 123px;

        &--flag-es {
            background-position: -8px -7px;
        }

        &--flag-en {
            background-position: -60px -6px;
        }
    }
}
