/**********************************************************/
/*                       FLOAT BAR                        */
/**********************************************************/

.ma-floatBar {

    padding: 20px;
    background: white;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    /// BAR_BORDER_COLOR
    &--border-gray {
        border-top: 3px solid $light-gray;
    }

    &--border-primary {
        border-top: 3px solid map-get($main-palette, primary);
    }

    // Text block
    &__text {
        display: inline-block;
    }

    // Text block
    &__button {
        display: inline-block;
    }

}
