/**********************************************************/
/*                       FONT FACES                       */
/**********************************************************/
@font-face {
    font-family: $global-font-family;
    src:url("#{$global-font-path}/ProximaNovaSoft-Regular.otf");
    src: url("#{$global-font-path}/ProximaNovaSoft-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('#{$global-font-path}/materialDesign/MaterialIcons-Regular.woff2') format('woff2'),
       url('#{$global-font-path}/materialDesign/MaterialIcons-Regular.woff') format('woff'),
       url('#{$global-font-path}/materialDesign/MaterialIcons-Regular.ttf') format('truetype');
}
/******************** END - FONT FACES ********************/
