/**********************************************************/
/*                          FORM                         */
/**********************************************************/
//TODO: Limpiar este archivo

/* VARIABLES */
$form-horizontal-label-paddings: (
    withoutModifier: 8px,
    small: 6px,
    default: 10px,
    large: 16px,
);
$form-horizontal-label-margin: 0;

/**********************************************************/

.ma-form {

    &--horizontal {

        .ma-form-group {

            label {
                display: block;
                padding-bottom: map-get($form-horizontal-label-paddings, withoutModifier);
                margin-bottom: $form-horizontal-label-margin;
            }

            .middle-label {
                margin: 0 10px;
            }

            &--small {
                label {
                    padding-top: map-get($form-horizontal-label-paddings, small);
                }
            }

            &--default {
                label{
                    padding-top: map-get($form-horizontal-label-paddings, default);
                }
            }

            &--large {
                label {
                    //padding-top: map-get($form-horizontal-label-paddings, large);
                    //TEST
                    padding-top: 12px;
                }
            }

        }

    }
}
