/**********************************************************/
/*                          HERO                          */
/**********************************************************/

.ma-hero {
    min-height: 400px;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #4a6979;
    background-size: 100% 100%;

    .poster {

        height: 70vh;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;

        &--mobile {
            background: linear-gradient(rgba(18,18,18,0.6), rgba(18,18,18,0.5)), url(../../../../assets/images/hero-image.jpg);
            background-size: cover;
        }

        &--teacher {
            //background: linear-gradient(rgba(18,18,18,0.6), rgba(18,18,18,0.5)), url(../../../../assets/images/hero-teacher.jpg);
            //background-size: cover;
            background-color: #4285f4 !important;
            background: -webkit-radial-gradient(farthest-corner at 20px 20px, #a1d2dd 0%, #004aa6) !important;
            background: -moz-radial-gradient(farthest-corner at 20px 20px, #a1d2dd 0%, #004aa6) !important;
            background: radial-gradient(farthest-corner at 20px 20px, #004aa6 0%, #a1d2dd) !important;
            overflow: hidden !important;
        }

        &--main {
            background: linear-gradient(rgba(18,18,18,0.6), rgba(18,18,18,0.4)), url(../../../../assets/images/hero-min.jpg);
            background-size: cover;
        }

        &--gradient {
            background-color: #78c878 !important;
            background: -webkit-radial-gradient(farthest-corner at 20px 20px, #b0dda1 0%, #00a699) !important;
            background: -moz-radial-gradient(farthest-corner at 20px 20px, #b0dda1 0%, #00a699) !important;
            background: radial-gradient(farthest-corner at 20px 20px, #00a699 0%, #b0dda1) !important;
            overflow: hidden !important;
        }

        //TODO: Guardo esto aqui por no tengo donde mas: es el degradado que tiene airbnb en
        // su sección final. Este tiene el degradado circular.
        // referencia: https://www.airbnb.com/work?s=footer
        .gradient-test {
            background-color: #78c878 !important;
            background: -webkit-radial-gradient(farthest-corner at 48% 10%, #8ce071 0%, #00a699) !important;
            background: -moz-radial-gradient(farthest-corner at 48% 10%, #8ce071 0%, #00a699) !important;
            background: radial-gradient(farthest-corner at 48% 10%, #8ce071 0%, #00a699) !important;
        }

    }

    .video-hero {
        opacity: 0.7;
        visibility: visible;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 730px;
    }

    &__wrapper {
        width: 800px;
        height: 500px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -400px;
        margin-top: -250px;

        &__title {
            font-size: 43px;
            font-weight: 600;
            margin-top: 50px;
        }

        &__description {
            font-size: 22px;
            line-height: 30px;
            color: #fff;
            margin: auto;
            max-width: 660px;
            font-weight: 300;
            margin-top: 27px;
        }

        &__btn-container {
            margin-bottom: 40px;
            margin-top: 60px;
        }

        &__go-down {

            .material-icons {
                opacity: 0.7;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

/*****************************************/
/*             MEDIA QUERIES             */
/*****************************************/

 /*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

//Iphone 2G, 3G, 4, 4S
/* FIXME: Los media queries del Iphone 5 estan sobreescribiendo estos ya que tienen
 la misma resolución. Asi que una solucion rapida fue colocarle important a estos
 media queries para que los tomara el Iphone 2G, 3G, 4, 4S */
@media only screen
and (min-device-width: 319px)
and (max-device-width: 480px)
and (-webkit-device-pixel-ratio: 2)
and (device-aspect-ratio: 2/3) {
    .ma-hero {
        height: 90vh;

        .poster {
            height: 90vh;
            background-position: -220px 0px;
        }

        &__wrapper {
            height: auto;
            left: 0;
            position: relative;
            top: 20px;
            width: auto;
            margin: auto;
            padding: 0 30px;

            &__title {
                font-size: 20px!important;
                margin-top: 60px!important;
            }

            &__description {
                font-size: 15px;
                line-height: 24px;
            }

            &__btn-container {
                margin-top: 40px;

                &__school {
                    margin-bottom: 6px;

                    .ma-btn {
                        width: 100%;
                    }
                }

                &__teacher {
                    .ma-btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}

//Iphone 5 & 5S
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .ma-hero {
        height: 90vh;

        .poster {
            height: 90vh;
            background-position: -220px 0px;
        }

        &__wrapper {
            height: auto;
            left: 0;
            position: relative;
            top: 20px;
            width: auto;
            margin: auto;
            padding: 0 30px;

            &__title {
                font-size: 30px;
                margin-top: 70px;
            }

            &__description {
                font-size: 15px;
                line-height: 24px;
            }

            &__btn-container {
                margin-top: 40px;

                &__school {
                    margin-bottom: 6px;

                    .ma-btn {
                        width: 100%;
                    }
                }

                &__teacher {
                    .ma-btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}


//Iphone 6
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
    .ma-hero {
        height: 90vh;

        .poster {
            height: 90vh;
            background-position: -220px 0px;
        }

        &__wrapper {
            height: auto;
            left: 0;
            position: relative;
            top: 20px;
            width: auto;
            margin: auto;
            padding: 0 30px;

            &__title {
                font-size: 35px;
                margin-top: 80px;
            }

            &__description {
                font-size: 15px;
                line-height: 24px;
            }

            &__btn-container {
                margin-top: 40px;

                &__school {
                    margin-bottom: 6px;

                    .ma-btn {
                        width: 100%;
                    }
                }

                &__teacher {
                    .ma-btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}


//Iphone 6 Plus
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
    .ma-hero {
        height: 90vh;

        .poster {
            height: 90vh;
            background-position: -220px 0px;
        }

        &__wrapper {
            height: auto;
            left: 0;
            position: relative;
            top: 20px;
            width: auto;
            margin: auto;
            padding: 0 30px;

            &__title {
                font-size: 40px;
                margin-top: 100px;
            }

            &__description {
                font-size: 15px;
                line-height: 24px;
            }

            &__btn-container {
                margin-top: 40px;

                &__school {
                    margin-bottom: 6px;

                    .ma-btn {
                        width: 100%;
                    }
                }

                &__teacher {
                    .ma-btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .ma-hero {
        height: 80vh;

        .poster {
           height: 90vh;
           background-position: -120px 0px;
        }

        .video-hero {
            height: 80vh;
        }

        &__wrapper {
            height: auto;
            left: 0;
            position: relative;
            top: 20px;
            width: auto;
            margin: auto;

            &__title {

            }

            &__description {
                line-height: 30px;
            }

            &__btn-container {

                &__school {
                    text-align: right;
                }

                &__teacher {
                    text-align: left;
                }
            }
        }
    }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .ma-hero {
        height: 80vh;
        //background-position: 0 0;

        .poster {
           height: 100vh;
           background-position: 0 0;
        }

        .video-hero {
            height: 96vh;
        }

        &__wrapper {
            width: 800px;
            height: 500px;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -400px;
            margin-top: -250px;

            &__title {
                //font-size: 50px;
                //margin-top: 110px;
            }

            &__description {
                //font-size: 25px;
                line-height: 30px;
            }

            &__btn-container {

                &__school {
                    text-align: right;
                }

                &__teacher {
                    text-align: left;
                }
            }
        }
    }
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .ma-hero {
        height: 100vh;

        .poster {
           height: 100vh;
        }

        .video-hero {
            height: 110vh;
        }

        &__wrapper {
            width: 800px;
            height: 500px;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -400px;
            margin-top: -250px;

            &__title {

            }

            &__description {
                line-height: 30px;
            }

            &__btn-container {

                &__school {
                    text-align: right;
                }

                &__teacher {
                    text-align: left;
                }
            }
        }
    }
}


/* Extra Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {

}
