/**********************************************************/
/*                         LABELS                         */
/**********************************************************/

.ma-label {
    display: inline-block;
    //margin-bottom: 0;
    vertical-align: middle;
    line-height: $label-lineheight;
    cursor: default;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;


    /*               LABEL BOX               */
    /*****************************************/

    &--box {
        -webkit-border-radius: $label-radius;
        -moz-border-radius: $label-radius;
        border-radius: $label-radius;
        border: 1px solid;
        text-align: center;
        font-weight: bold;
        padding: map-get($label-box-paddings, default);
        font-size: map-get($label-font-sizes, default);

        &--uppercase {
            text-transform: uppercase;
        }

        ///LABEL BOX SIZE

        &--small {
            padding: map-get($label-box-paddings, small);
            font-size: map-get($label-font-sizes, small);

            &--with-icon {
                padding: map-get($label-box-withIcon-paddings, small);

                &__icon {
                    vertical-align: text-top;
                    cursor: pointer;
                    margin-left: map-get($label-box-withIcon-icon-margins, small);
                    font-size: map-get($label-box-withIcon-icon-font-size, small);
                    &:hover {
                        color: map-get($main-palette, secondary);
                    }
                }
            }
        }

        &--default {
            padding: map-get($label-box-paddings, default);
            font-size: map-get($label-font-sizes, default);

            &--with-icon {
                padding: map-get($label-box-withIcon-paddings, default);

                &__icon {
                    vertical-align: text-top;
                    cursor: pointer;
                    margin-left: map-get($label-box-withIcon-icon-margins, default);
                    font-size: map-get($label-box-withIcon-icon-font-size, default);
                    &:hover {
                        color: map-get($main-palette, secondary);
                    }
                }
            }
        }

        &--medium {
            padding: map-get($label-box-paddings, medium);
            font-size: map-get($label-font-sizes, medium);

            &--with-icon {
                padding: map-get($label-box-withIcon-paddings, medium);

                &__icon {
                    vertical-align: text-bottom;
                    cursor: pointer;
                    margin-left: map-get($label-box-withIcon-icon-margins, medium);
                    font-size: map-get($label-box-withIcon-icon-font-size, medium);
                    &:hover {
                        color: map-get($main-palette, secondary);
                    }
                }
            }
        }

        &--large {
            padding: map-get($label-box-paddings, large);
            font-size: map-get($label-font-sizes, large);

            &--with-icon {
                padding: map-get($label-box-withIcon-paddings, large);

                &__icon {
                    vertical-align: text-top;
                    cursor: pointer;
                    margin-left: map-get($label-box-withIcon-icon-margins, large);
                    font-size: map-get($label-box-withIcon-icon-font-size, large);
                    &:hover {
                        color: map-get($main-palette, secondary);
                    }
                }
            }
        }

        &--block {
            display: block;
            white-space: normal;
            width: $label-box-width-block;
        }

        ///LABEL BOX COLOR

        &--primary {
            background: 0 0;
            background-color: $label-box-primary-background;
            color: $label-box-primary-font-color;
        }

        &--secondary {
            background: 0 0;
            border: $label-box-secondary-border;
            color: $label-box-secondary-font-color;

            &__input-to-edit {
                border-bottom: 1px solid rgba(0, 181, 146, 0.22)!important;
            }
        }

        &--secondary-hover {
            &:hover {
                background: 0 0;
                background-color: $label-box-secondary-hover-background;
                border: $label-box-secondary-hover-border;
                color: $label-box-secondary-hover-font-color;
            }
        }

        &--primary-altern {
            background: 0 0;
            background-color: $label-box-primary-altern-background;
            color: $label-box-primary-altern-font-color;
        }

        &--alert {
            background: 0 0;
            background-color: $label-box-alert-background;
            color: $label-box-alert-font-color;
        }

        &--alert-secondary {
            background: 0 0;
            border: $label-box-alert-secondary-border;
            color: $label-box-alert-secondary-font-color;
        }

        &--alert-secondary-hover {
            &:hover {
                background: 0 0;
                background-color: $label-box-alert-secondary-hover-background;
                border: $label-box-alert-secondary-hover-border;
                color: $label-box-alert-secondary-hover-font-color;
            }
        }

        &--gray {
            background: 0 0;
            background-color: $label-box-gray-background;
            border: $label-box-gray-secondary-border;
            color: $label-box-gray-font-color;

            &--line-through {
                text-decoration: line-through;
            }
        }

        &--white-primary {
            background: 0 0;
            background-color: $label-box-white-primary-background;
            border: 0 hidden transparent;
            color: $label-box-white-primary-font-color;
        }

        &--white-alert {
            background: 0 0;
            background-color: $label-box-white-alert-background;
            border: 0 hidden transparent;
            color: $label-box-white-alert-font-color;
        }

        ///OPACITY BOX
        &--opacity {
            cursor: pointer;
            opacity: 0.3;
            &:hover {
                opacity: 1;
            }
        }

        ///CHECK BOX
        &--check {
            cursor: pointer;
            &--active {
                background: 0 0;
                background-color: $label-box-primary-background;
                color: $label-box-primary-font-color;
                opacity: 1;
            }
        }

        ///SPACE BETWEEN LABELS

        &--space2 {
            margin: 2px;
        }

        &--space5 {
            margin: 5px;
        }

        /// INPUT TO EDIT LABEL

        &__input-to-edit {
            width: 100%;
            border: 0 hidden transparent;
            padding: 4px;
            outline: none;
        }

    }


    /*              SIMPLE LABEL             */
    /*****************************************/

    &--simple {
        letter-spacing: 0;
        font-style: normal;

        ///SIMPLE LABEL SIZE

        &--small {
            font-size: map-get($label-font-sizes-simple, small);
        }

        &--default {
            font-size: map-get($label-font-sizes-simple, default);
        }

        &--medium {
            font-size: map-get($label-font-sizes-simple, medium);
        }

        &--large {
            font-size: map-get($label-font-sizes-simple, large);
        }

        ///SIMPLE LABEL COLOR

        &--gray {
            color: $label-simple-color-gray;
        }

        &--primary {
            color: $label-simple-color-primary;
        }

        &--alert {
            color: $label-simple-color-alert;
        }

        &--disabled {
            color: $label-simple-color-disabled;
        }
    }

}


/* LABELS CONTAINER */
.ma-labels-box {
    &--dashed {
        border: $labelsBox-dashed-border;
        min-height: $labelsBox-dashed-height;
        padding: $labelsBox-dashed-padding;
        &--invalid {
            border: $labelsBox-dashed-invalid-border;
        }
    }
}
