/**********************************************************/
/*                      LARGE MESSAGE                     */
/**********************************************************/

.ma-large-message {
    padding: 10px 0px;

    &--alert {
        background-color: rgba(255, 230, 230, 0.45);
    }

    &--success {
        background-color: rgba(230, 255, 231, 0.82);
    }

    &--info {
        background-color: rgba(0, 181, 146, 0.26);
    }

}
