/**********************************************************/
/*                         LOADING                        */
/**********************************************************/

.ma-loading-container {

    /*&--center-screen {
        height: 800px;
        margin-top: 190px;
    }*/

    .ma-loading {

        ///LOADING_COLOR

        &--primary {
            color: map-get($main-palette, primary);
        }

        &--alert {
            color: map-get($main-palette, alert);
        }

        &--white {
            color: $white;
        }

        &--medium-gray {
            color: $medium-gray;
        }

    }

}

//FIXME: investigar que paso, ya que intente colocarlo: &--center-screen y no lo
// quizo tomar, extrañisimo.
.ma-loading-container--center-screen {
    //height: 800px;
    margin-top: 190px;
}


.ma-loading-block {

    &--border-radius {
        border-radius: 3px;
    }

    ///LOADING_BLOCK_SIZE

    &--small {
        padding:10px;
    }

    &--default {
        padding:12px;
    }

    &--medium {
        padding: 15px;
    }

    &--large {
        padding:20px;
    }

    ///LOADING_BLOCK_COLOR

    &--cloud {
        background-color: $cloud;
    }

    &--light-gray {
        background-color: $light-gray;
    }

    &--light-medium-gray {
        background-color: #EEE;
    }

    &--medium-gray {
        background-color: $medium-gray;
    }

    &--dark-gray {
        background-color: $dark-gray;
    }

}

//LOADING PAGE COMPLETE
.ma-mainLoading {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(254, 254, 254, 0.78);
    overflow-x: hidden;
    transition: 0.5s;

    .content-loading {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
}
