//TODO Arreglar y limpiar
.ma-logo {
    color: #FF5A5F;
    display: inline-block;
    vertical-align: middle;
    font-size: 34px;
    -webkit-transition: 0.25s color;
    -moz-transition: 0.25s color;
    transition: 0.25s color;
}
