/**********************************************************/
/*                      PHOTO PROFILE                     */
/**********************************************************/

/* SQUARE PROFILE IMAGE */

.ma-photo-profile {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    overflow: hidden;

    background-color: $image-photo-background;
    background: url($image-photo-default-path) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &--tiny {
        height: map-get($image-photo-sizes, tiny);
        width: map-get($image-photo-sizes, tiny);
    }

    &--small {
        height: map-get($image-photo-sizes, small);
        width: map-get($image-photo-sizes, small);
    }

    &--default {
        width: map-get($image-photo-sizes, default);
        height: map-get($image-photo-sizes, default);
    }

    &--medium {
        width: map-get($image-photo-sizes, medium);
        height: map-get($image-photo-sizes, medium);
    }

    &--large {
        width: map-get($image-photo-sizes, large);
        height: map-get($image-photo-sizes, large);
    }

    &--empty {
        background: $medium-gray;
    }

}


/* RECTANGLE PROFILE IMAGE */

.ma-rectangle-photo-profile {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    overflow: hidden;

    background-color: $image-photo-background;
    background: url($image-rectangle-photo-default-path) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &--tiny {
        height: map-get($image-rectangle-photo-height-sizes, tiny);
        min-height: map-get($image-rectangle-photo-height-sizes, tiny);
        min-width: map-get($image-rectangle-photo-width-sizes, tiny);
        width: map-get($image-rectangle-photo-width-sizes, tiny);
    }

    &--small {
        height: map-get($image-rectangle-photo-height-sizes, small);
        min-height: map-get($image-rectangle-photo-height-sizes, small);
        min-width: map-get($image-rectangle-photo-width-sizes, small);
        width: map-get($image-rectangle-photo-width-sizes, small);
    }

    &--default {
        height: map-get($image-rectangle-photo-height-sizes, default);
        min-height: map-get($image-rectangle-photo-height-sizes, default);
        min-width: map-get($image-rectangle-photo-width-sizes, default);
        width: map-get($image-rectangle-photo-width-sizes, default);
    }

    &--medium {
        width: map-get($image-rectangle-photo-width-sizes, medium);
        height: map-get($image-rectangle-photo-height-sizes, medium);
    }

    &--large {
        width: map-get($image-rectangle-photo-width-sizes, large);
        height: map-get($image-rectangle-photo-height-sizes, large);
    }

    &--empty {
        background: #f5f5f5;
    }

    img {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }

}
