/**********************************************************/
/*                         QUOTES                         */
/**********************************************************/

.ma-quote {
    width: 100%;
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    position: relative;

    &--block {


        /// QUOTE COLOR
        &--gray {
            background-color: #f9f9f9;
            border: 1px solid #eee;
        }

        /// QUOTE SIZE
        &--default {
            padding: 15px 43px 15px 43px;
            line-height: 32px;
        }

        &--round {
            border-radius: 10px;
        }

        &:after, &:before {
            font-size: 60px;
            color: #ddd;
            position: absolute;
        }

        &:after {
            content: '”';
            top: 16px;
            right: 16px;
        }

        &:before {
            content: '“';
            top: 16px;
            left: 6px;
        }

    }

}
