/**********************************************************/
/*                       SEARCH MAP                       */
/**********************************************************/

.search-map {

    height: 100%;

    .angular-google-map {
        height: 100%;
    }

    .angular-google-map-container {
        height: 100%;
    }

}
