/**********************************************************/
/*                    SURVEY COMPONENT                    */
/**********************************************************/

.ma-survey {
    display: flex;
    position: fixed;
    border-left: 0 hidden transparent;
    top: 10em;
    left: 0;
    margin: 0;
    width: 48px;
    height: 48px;
    padding: 4px;
    background-color: #fff;
    z-index: 200;
    border-radius: 0px 7px 7px 0px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;

    &--default {
        i {
            font-size: 32px!important;
        }
    }
}
