/**********************************************************/
/*                        TOOLTIP                         */
/**********************************************************/

.ma-tooltip {
    font-family: inherit;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    opacity: 1!important;

    .tooltip-inner {
        padding: 5px 12px !important;
        border-radius: 2px;
    }

    .tooltip-arrow {
        bottom: 1px!important;
    }

    // TOOLTIP COLORS

    &--primary {

        &.top {
            .tooltip-arrow {
                border-top-color: map-get($main-palette, primary)!important;
            }
        }

        &.bottom {
            .tooltip-arrow {
                border-bottom-color: map-get($main-palette, primary)!important;
            }
        }

        &.right {
            .tooltip-arrow {
                border-right-color: map-get($main-palette, primary)!important;
            }
        }

        &.left {
            .tooltip-arrow {
                border-left-color: map-get($main-palette, primary)!important;
            }
        }

        .tooltip-inner {
            border: 2px solid map-get($main-palette, primary);
            color: map-get($main-palette, primary);
            background-color: $white;
        }

    }


    &--alert {

        &.top {
            .tooltip-arrow {
                border-top-color: map-get($main-palette, alert)!important;
            }
        }

        &.bottom {
            .tooltip-arrow {
                border-bottom-color: map-get($main-palette, alert)!important;
            }
        }

        &.right {
            .tooltip-arrow {
                border-right-color: map-get($main-palette, alert)!important;
            }
        }

        &.left {
            .tooltip-arrow {
                border-left-color: map-get($main-palette, alert)!important;
            }
        }

        .tooltip-inner {
            border: 2px solid map-get($main-palette, alert);
            color: map-get($main-palette, alert);
            background-color: $white;
        }

    }


    &--white {

        &.top {
            .tooltip-arrow {
                border-top-color: $white!important;
            }
        }

        &.bottom {
            .tooltip-arrow {
                border-bottom-color: $white!important;
            }
        }

        &.right {
            .tooltip-arrow {
                border-right-color: $white!important;
            }
        }

        &.left {
            .tooltip-arrow {
                border-left-color: $white!important;
            }
        }

        .tooltip-inner {
            border: 0 hidden transparent;
            color: $dark-gray;
            background-color: $white;
        }

    }


    &--gray {

        &.top {
            .tooltip-arrow {
                border-top-color: $medium-gray!important;
            }
        }

        &.bottom {
            .tooltip-arrow {
                border-bottom-color: $medium-gray!important;
            }
        }

        &.right {
            .tooltip-arrow {
                border-right-color: $medium-gray!important;
            }
        }

        &.left {
            .tooltip-arrow {
                border-left-color: $medium-gray!important;
            }
        }

        .tooltip-inner {
            border: 2px solid $medium-gray;
            color: $dark-gray;
            background-color: $white;
        }

    }


    &--black {

        &.top {
            .tooltip-arrow {
                border-top-color: $black!important;
            }
        }

        &.bottom {
            .tooltip-arrow {
                border-bottom-color: $black!important;
            }
        }

        &.right {
            .tooltip-arrow {
                border-right-color: $black!important;
            }
        }

        &.left {
            .tooltip-arrow {
                border-left-color: $black!important;
            }
        }

        .tooltip-inner {
            border: 0 hidden transparent;
            color: $white;
            background-color: $black;
        }

    }

    // TOOLTIP SIZES

    &--small {
        font-size: 14px;
    }

    &--default {
        font-size: 17px;
    }

    &--large {
        font-size: 20px;
    }


}
